# --- Tailscale IP ---
BATCH_TAILSCALE_IP=
STREAM_TAILSCALE_IP=

# --- PostgreSQL ---
POSTGRES_PASSWORD=postgres
POSTGRES_DB=batch_data
POSTGRES_USER=postgres

# --- Airflow ---
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin

# --- MinIO ---
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin

# --- Kafka ---
# Kafka bootstrap server di laptop stream (untuk Debezium)
KAFKA_BOOTSTRAP_SERVERS=${STREAM_TAILSCALE_IP}:9092
