# --- Tailscale IP ---
BATCH_TAILSCALE_IP=
STREAM_TAILSCALE_IP=

# --- PostgreSQL ---
POSTGRES_PASSWORD=postgres
POSTGRES_DB=batch_data
POSTGRES_USER=postgres

# --- Airflow ---
AIRFLOW_JWT_SECRET=
AIRFLOW_UID=50000

# --- MinIO ---
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin

# --- WMATA API ---
WMATA_API_KEY=

# --- Kafka (nanti) ---
KAFKA_BOOTSTRAP_SERVERS=
